name: Release Please

on:
  push:
    branches:
      - master
      - dev

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: simple
          package-name: sysutil
          token: ${{ secrets.GITHUB_TOKEN }}
          default-branch: ${{ github.ref_name }}

      - name: Checkout code
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v4

      - name: Upload Release Assets
        if: ${{ steps.release.outputs.release_created }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.release.outputs.tag_name }}
          files: |
            sysutil
            sysutil.sh
            install.sh
            update.sh
            functions.sh
            colors.sh
          token: ${{ secrets.GITHUB_TOKEN }}